/*//formato de botones
.btn-primary {
  border-radius: 10px;
  border: none;
  background-color: $btn-primary-color;
  font-weight: 600;
  width: 10rem;
  height: 3rem;
  text-align: center;
  align-content: center;
  margin: 0.7rem;
}*/
.shadow, .footer__container, .footer__center, .boxh:hover, .title__animation, .portada .portada__img--01, .portada .portada__img--02, .portada .portada__img--03, .nosotros .card__amigos, .nav__bar, .imagenes {
  box-shadow: 5px 0 20px rgba(0, 0, 0, 0.5), -5px 0 20px rgba(0, 0, 0, 0.5);
}

.box, .portada .portada__img--01 .box1, .portada .portada__img--02 .box2, .portada .portada__img--03 .box3 {
  display: flex;
  justify-content: center;
  margin-top: 24rem;
}

.playas {
  margin: 1.5rem 1rem;
  font-size: 1rem;
  font-family: "Arimo", sans-serif;
  color: "Oswald", sans-serif;
}
.playas a {
  text-decoration: none;
  background: linear-gradient(90deg, rgb(87, 199, 133) 0%, rgb(237, 221, 83) 100%);
  color: #323232;
}

.text-playas {
  width: 40rem;
  height: 30rem;
  font-family: "Montserrat", sans-serif;
  text-align: justify;
  margin-bottom: 2rem;
}

.imagenes {
  width: 40rem;
  height: 30rem;
  border-radius: 1rem;
  margin: 4rem 0;
  transition: transform 0.5s ease-in-out;
}

.aventuras, .playas__container .playas01, .playas__container .playas02, .playas__container .playas03, .playas__container .playas04, .playas__container .playas05, .playas__container .playas06, .playas__container .playas07, .playas__container .playas08, .playas__container .playas09, .playas__container .playas10, .historicos__container .historicos01, .historicos__container .historicos02, .historicos__container .historicos03, .historicos__container .historicos04, .historicos__container .historicos05, .historicos__container .historicos06, .historicos__container .historicos07, .historicos__container .historicos08, .historicos__container .historicos09, .historicos__container .historicos10, .aventura__container .aventura01, .aventura__container .aventura02, .aventura__container .aventura03, .aventura__container .aventura04, .aventura__container .aventura05, .aventura__container .aventura06, .aventura__container .aventura07, .aventura__container .aventura08, .aventura__container .aventura09, .aventura__container .aventura10 {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 40rem;
  height: 30rem;
  border-radius: 1rem;
  font-family: "Oswald", sans-serif;
  position: relative;
}
.aventuras h3, .playas__container .playas01 h3, .playas__container .playas02 h3, .playas__container .playas03 h3, .playas__container .playas04 h3, .playas__container .playas05 h3, .playas__container .playas06 h3, .playas__container .playas07 h3, .playas__container .playas08 h3, .playas__container .playas09 h3, .playas__container .playas10 h3, .historicos__container .historicos01 h3, .historicos__container .historicos02 h3, .historicos__container .historicos03 h3, .historicos__container .historicos04 h3, .historicos__container .historicos05 h3, .historicos__container .historicos06 h3, .historicos__container .historicos07 h3, .historicos__container .historicos08 h3, .historicos__container .historicos09 h3, .historicos__container .historicos10 h3, .aventura__container .aventura01 h3, .aventura__container .aventura02 h3, .aventura__container .aventura03 h3, .aventura__container .aventura04 h3, .aventura__container .aventura05 h3, .aventura__container .aventura06 h3, .aventura__container .aventura07 h3, .aventura__container .aventura08 h3, .aventura__container .aventura09 h3, .aventura__container .aventura10 h3 {
  margin-left: 1rem;
  color: #f4f4f4;
  position: absolute;
  font-size: 2.5rem;
  left: 1rem;
  bottom: 6rem;
}
.aventuras h4, .playas__container .playas01 h4, .playas__container .playas02 h4, .playas__container .playas03 h4, .playas__container .playas04 h4, .playas__container .playas05 h4, .playas__container .playas06 h4, .playas__container .playas07 h4, .playas__container .playas08 h4, .playas__container .playas09 h4, .playas__container .playas10 h4, .historicos__container .historicos01 h4, .historicos__container .historicos02 h4, .historicos__container .historicos03 h4, .historicos__container .historicos04 h4, .historicos__container .historicos05 h4, .historicos__container .historicos06 h4, .historicos__container .historicos07 h4, .historicos__container .historicos08 h4, .historicos__container .historicos09 h4, .historicos__container .historicos10 h4, .aventura__container .aventura01 h4, .aventura__container .aventura02 h4, .aventura__container .aventura03 h4, .aventura__container .aventura04 h4, .aventura__container .aventura05 h4, .aventura__container .aventura06 h4, .aventura__container .aventura07 h4, .aventura__container .aventura08 h4, .aventura__container .aventura09 h4, .aventura__container .aventura10 h4 {
  margin-left: 1rem;
  color: #f4f4f4;
  font-size: 2rem;
  position: absolute;
  left: 1rem;
  bottom: 3.5rem;
}

.galerias, .galeria .box__img1 .box1, .galeria .box__img2 .box2, .galeria .box__img3 .box3, .galeria .box__img4 .box4, .galeria .box__img5 .box5, .galeria .box__img6 .box6 {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}

.perfiles .img__nosotros, .nosotros__container .julio .img__nosotros, .nosotros__container .leticia .img__nosotros, .nosotros__container .cristian .img__nosotros, .nosotros__container .mariel .img__nosotros {
  border-radius: 1rem;
  width: 20rem;
  float: left;
  margin: 0 1rem;
}
.perfiles .text_nosotros, .nosotros__container .julio .text_nosotros, .nosotros__container .leticia .text_nosotros, .nosotros__container .cristian .text_nosotros, .nosotros__container .mariel .text_nosotros {
  text-align: justify;
  font-family: "Montserrat", sans-serif;
  color: #323232;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.container {
  width: 90rem;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

header {
  background-color: blue;
}

.nav__bar {
  background: linear-gradient(360deg, #126485, #00b8c9);
  display: flex;
  height: 4.5rem;
  position: fixed;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  justify-self: center;
  z-index: 10;
  top: 0;
}
.nav__bar .logo__empresa {
  width: 15rem;
  overflow: hidden;
  object-fit: contain;
}
.nav__bar .logo__empresa img {
  margin-top: 0.3rem;
  margin-left: 2rem;
  width: 70%;
}
.nav__bar ul {
  display: flex;
  margin-bottom: 0.95rem;
  margin-right: 4rem;
}
.nav__bar ul li {
  list-style: none;
}
.nav__bar ul li a {
  padding: 1rem;
  text-decoration: none;
  font-family: "Arimo", sans-serif;
  color: #f4f4f4;
  letter-spacing: 0.3rem;
  font-weight: 900;
  font-size: 0.8rem;
  transition: 0.5s;
}

.destacar {
  text-decoration: underline;
  text-decoration-thickness: 10px;
  background-image: linear-gradient(#fff, #fff);
  background-repeat: no-repeat;
  background-position: 0 100%;
  animation: subrayado 2s infinite alternate ease-in-out;
}

li:hover {
  transform: scale(1.2);
  transition: 0.5s;
}

@keyframes descanso {
  0% {
    background-image: url(../asset/images/index/amigos1.jpeg);
    width: 40rem;
    height: 30rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  25% {
    background-image: url(../asset/images/index/amigos2.jpg);
    width: 40rem;
    height: 30rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  50% {
    background-image: url(../asset/images/index/amigos1.jpeg);
    width: 40rem;
    height: 30rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  75% {
    background-image: url(../asset/images/index/amigos3.jpg);
    width: 40rem;
    height: 30rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  100% {
    background-image: url(../asset/images/index/amigos4.jpg);
    width: 40rem;
    height: 30rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}
@keyframes subrayado {
  from {
    background-size: 0% 2px;
  }
  to {
    background-size: 100% 2px;
  }
}
@keyframes titulo {
  from {
    transform: translatex(15%);
  }
  to {
    transform: translate(-25%);
  }
}
main {
  background-color: #fff;
}

.title__animation {
  margin-top: 8rem;
  overflow: hidden;
  background: radial-gradient(circle, #2c89ad, #00b8c9);
  border-radius: 1rem;
}

.title__index {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  animation: titulo 10s infinite alternate ease-in-out;
}

.subtitle__index {
  text-align: center;
  font-size: 2rem;
  font-family: "Gabriela", serif;
  font-style: italic;
  margin: 1rem;
}

.portada {
  display: grid;
  grid-template-areas: "portada__img--01 portada__img--02 portada__img--03";
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 3rem;
  justify-items: center;
  place-items: center;
}
.portada .portada__img {
  width: 28rem;
  height: 35rem;
}
.portada .portada__img--01 {
  grid-area: portada__img--01;
  background-image: url("../asset/images/index/img-left.jpg");
  background-size: cover;
  background-position: left;
}
.portada .portada__img--01 .box1 .card__portada--lugares {
  width: 15rem;
  height: 15rem;
  border-radius: 3%;
  text-align: center;
  align-content: center;
  background-color: rgb(226, 57, 57);
  opacity: 0.8;
  font-family: "Arimo", sans-serif;
  font-size: 1.5rem;
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
}
.portada .portada__img--01 .box1 .card__portada--lugares .title__box {
  color: #f4f4f4;
  font-family: "Gabriela", serif;
}
.portada .portada__img--01 .box1 .card__portada--lugares:hover {
  transform: scale(1.2);
}
.portada .portada__img--02 {
  grid-area: portada__img--02;
  background-image: url("../asset/images/index/img-center.jpg");
  background-size: cover;
  background-position: center;
}
.portada .portada__img--02 .box2 .card__portada--aventuras {
  width: 15rem;
  height: 15rem;
  border-radius: 3%;
  text-align: center;
  align-content: center;
  background-color: rgb(85, 85, 219);
  opacity: 0.8;
  font-family: "Arimo", sans-serif;
  font-size: 1.5rem;
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
}
.portada .portada__img--02 .box2 .card__portada--aventuras .title__box {
  color: #f4f4f4;
  font-family: "Gabriela", serif;
}
.portada .portada__img--02 .box2 .card__portada--aventuras:hover {
  transform: scale(1.2);
}
.portada .portada__img--03 {
  grid-area: portada__img--03;
  background-image: url("../asset/images/index/img-right.jpeg");
  background-size: cover;
  background-position: right;
}
.portada .portada__img--03 .box3 .card__portada--playas {
  width: 15rem;
  height: 15rem;
  border-radius: 3%;
  text-align: center;
  align-content: center;
  background-color: rgb(225, 156, 46);
  opacity: 0.8;
  font-family: "Arimo", sans-serif;
  font-size: 1.5rem;
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
}
.portada .portada__img--03 .box3 .card__portada--playas .title__box {
  color: #f4f4f4;
  font-family: "Gabriela", serif;
}
.portada .portada__img--03 .box3 .card__portada--playas:hover {
  transform: scale(1.2);
}

.nosotros {
  display: grid;
  grid-template-areas: "card__amigos text__amigos";
  margin-top: 5rem;
}
.nosotros .card__amigos {
  grid-area: card__amigos;
  width: 20rem;
  height: 20rem;
  border-radius: 1rem;
  margin: 4rem 2rem;
  animation: descanso 20s infinite;
}

.text__amigos {
  grid-area: text__amigos;
  margin-top: 3rem;
  padding: 4rem;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  color: #323232;
}

.top-btn {
  position: sticky;
  bottom: 1rem;
  left: 112rem;
}

.top {
  transition: transform 0.5s ease-in-out;
}

.top:hover {
  transform: scale(1.3);
}

.back-btn {
  position: sticky;
  bottom: 1rem;
  left: 108rem;
}

.back {
  transition: transform 0.5s ease-in-out;
}

.back:hover {
  transform: scale(1.3);
}

.title__aventuras {
  text-align: center;
  margin-bottom: 2rem;
  font-family: "Montserrat", sans-serif;
  font-size: 1.25rem;
  margin-top: 2rem;
  font-weight: 400;
  color: #323232;
}

.subtitle__aventuras {
  text-align: center;
  margin-top: 8.5rem;
  font-family: "Gabriela", serif;
  font-size: 3rem;
}

.aventura__container {
  display: grid;
  grid-template-areas: "aventura01 aventura02" "aventura03 aventura04" "aventura05 aventura06" "aventura07 aventura08" "aventura09 aventura10";
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto;
  margin-top: 1rem;
  transition: transform 0.5s ease-in-out;
}
.aventura__container .aventura01 {
  grid-area: aventura01;
  background-image: url(../asset/images/aventuras/01.jpg);
}
.aventura__container .aventura02 {
  grid-area: aventura02;
  background-image: url(../asset/images/aventuras/02.jpg);
}
.aventura__container .aventura03 {
  grid-area: aventura03;
  background-image: url(../asset/images/aventuras/03.jpeg);
}
.aventura__container .aventura04 {
  grid-area: aventura04;
  background-image: url(../asset/images/aventuras/04.jpg);
}
.aventura__container .aventura05 {
  grid-area: aventura05;
  background-image: url(../asset/images/aventuras/05.jpg);
}
.aventura__container .aventura06 {
  grid-area: aventura06;
  background-image: url(../asset/images/aventuras/06.jpg);
}
.aventura__container .aventura07 {
  grid-area: aventura07;
  background-image: url(../asset/images/aventuras/07.jpg);
}
.aventura__container .aventura08 {
  grid-area: aventura08;
  background-image: url(../asset/images/aventuras/08.jpg);
}
.aventura__container .aventura09 {
  grid-area: aventura09;
  background-image: url(../asset/images/aventuras/09.jpg);
}
.aventura__container .aventura10 {
  grid-area: aventura10;
  background-image: url(../asset/images/aventuras/10.jpg);
}

.aventura01:hover,
.aventura02:hover,
.aventura03:hover,
.aventura04:hover,
.aventura05:hover,
.aventura06:hover,
.aventura07:hover,
.aventura08:hover,
.aventura09:hover,
.aventura10:hover {
  filter: saturate(200%);
}

.title__nosotros {
  margin-top: 8rem;
  text-align: center;
  font-family: "Gabriela", serif;
  font-size: 2rem;
  color: #323232;
}

.text__presentacion {
  margin: 1rem;
  text-align: center;
  font-family: "Arimo", sans-serif;
  font-size: 1.15rem;
}

.subtittle__nosotros {
  margin: 1rem;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 2rem;
  font-weight: 300;
}

.nosotros__container {
  display: grid;
  grid-template-areas: "julio leticia" "cristian mariel";
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto;
  gap: 2rem;
  margin-bottom: 3rem;
}
.nosotros__container .julio {
  grid-area: julio;
}
.nosotros__container .leticia {
  grid-area: leticia;
}
.nosotros__container .cristian {
  grid-area: cristian;
}
.nosotros__container .mariel {
  grid-area: mariel;
}

.title__marcas {
  font-family: "Montserrat", sans-serif;
  margin-bottom: 2rem;
}

.title__galeria {
  text-align: center;
  margin-bottom: 2rem;
  font-family: "Arimo", sans-serif;
  font-size: 2.25rem;
  margin-top: 8rem;
  color: #323232;
}

.text__galeria {
  text-align: justify;
  margin: 2rem;
  font-family: "Gabriela", serif;
  font-size: 1rem;
  font-weight: 400;
  color: #323232;
}

.galeria {
  display: grid;
  width: 75%;
  grid-template-areas: "box__img1 box__img2" "box__img3 box__img4" "box__img5 box__img4" "box__img6 box__img6";
  border-radius: 1rem;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto;
  justify-content: center;
  text-align: center;
  background: linear-gradient(90deg, #00b8c9, #00b1c0);
  padding: 1rem;
  margin: 0 auto 3rem auto;
}
.galeria .box__img1 {
  grid-area: box__img1;
}
.galeria .box__img2 {
  grid-area: box__img2;
}
.galeria .box__img3 {
  grid-area: box__img3;
}
.galeria .box__img4 {
  grid-area: box__img4;
}
.galeria .box__img5 {
  grid-area: box__img5;
}
.galeria .box__img6 {
  grid-area: box__img6;
}
.boxh {
  transition: all, transform 0.5s ease-in-out;
}

.boxh:hover {
  border: 2px solid #00b8c9;
  transform: scale(0.9);
}

.title__historicos {
  text-align: center;
  margin-bottom: 2rem;
  font-family: "Montserrat", sans-serif;
  font-size: 1.25rem;
  margin-top: 2rem;
  font-weight: 400;
  color: #323232;
}

.subtitle__historicos {
  text-align: center;
  margin-top: 8.5rem;
  font-family: "Gabriela", serif;
  font-size: 3rem;
}

.historicos__container {
  display: grid;
  grid-template-areas: "historicos01 hisotoricos2" "historicos03 historicos04" "historicos05 historicos06" "historicos07 historicos08" "historicos09 historicos10";
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto;
  margin-top: 1rem;
  transition: transform 0.5s ease-in-out;
}
.historicos__container .historicos01 {
  grid-area: historicos01;
  background-image: url(../asset/images/historicos/01.jpg);
}
.historicos__container .historicos02 {
  grid-area: historicos02;
  background-image: url(../asset/images/historicos/02.png);
}
.historicos__container .historicos03 {
  grid-area: historicos03;
  background-image: url(../asset/images/historicos/03.jpeg);
}
.historicos__container .historicos04 {
  grid-area: historicos04;
  background-image: url(../asset/images/historicos/04.jpeg);
}
.historicos__container .historicos05 {
  grid-area: historicos05;
  background-image: url(../asset/images/historicos/05.jpg);
}
.historicos__container .historicos06 {
  grid-area: historicos06;
  background-image: url(../asset/images/historicos/06.jpg);
}
.historicos__container .historicos07 {
  background-image: url(../asset/images/historicos/07.jpg);
}
.historicos__container .historicos08 {
  grid-area: historicos08;
  background-image: url(../asset/images/historicos/08.jpg);
}
.historicos__container .historicos09 {
  grid-area: historicos09;
  background-image: url(../asset/images/historicos/09.png);
}
.historicos__container .historicos10 {
  grid-area: historicos10;
  background-image: url(../asset/images/historicos/10.jpg);
}

.historicos01:hover,
.historicos02:hover,
.historicos03:hover,
.historicos04:hover,
.historicos05:hover,
.historicos06:hover,
.historicos07:hover,
.historicos08:hover,
.historicos09:hover,
.historicos10:hover {
  filter: saturate(200%);
}

.title__playas {
  text-align: center;
  margin-bottom: 2rem;
  font-family: "Montserrat", sans-serif;
  font-size: 1.25rem;
  margin-top: 2rem;
  font-weight: 400;
  color: #323232;
}

.subtitle__playas {
  text-align: center;
  margin-top: 8.5rem;
  font-family: "Gabriela", serif;
  font-size: 3rem;
}

.playas__container {
  display: grid;
  grid-template-areas: "playas01 playas02" "playas03 playas04" "playas05 playas06" "playas07 playas08" "playas09 playas10";
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto;
  margin-top: 1rem;
  transition: transform 0.5s ease-in-out;
}
.playas__container .playas01 {
  grid-area: playas01;
  background-image: url(../asset/images/playas/playa1.jpg);
}
.playas__container .playas01 .title__card,
.playas__container .playas01 .subtitle__card {
  color: #323232;
}
.playas__container .playas02 {
  grid-area: playas02;
  background-image: url(../asset/images/playas/playa2.jpg);
}
.playas__container .playas02 .title__card,
.playas__container .playas02 .subtitle__card {
  color: #323232;
}
.playas__container .playas03 {
  grid-area: playas03;
  background-image: url(../asset/images/playas/playa3.jpg);
}
.playas__container .playas03 .title__card,
.playas__container .playas03 .subtitle__card {
  color: #323232;
}
.playas__container .playas04 {
  grid-area: playas04;
  background-image: url(../asset/images/playas/playa4.png);
}
.playas__container .playas04 .title__card,
.playas__container .playas04 .subtitle__card {
  color: #323232;
}
.playas__container .playas05 {
  grid-area: playas05;
  background-image: url(../asset/images/playas/playa5.jpg);
}
.playas__container .playas05 .title__card,
.playas__container .playas05 .subtitle__card {
  color: #323232;
}
.playas__container .playas06 {
  grid-area: playas06;
  background-image: url(../asset/images/playas/playa6.jpg);
}
.playas__container .playas06 .title__card,
.playas__container .playas06 .subtitle__card {
  color: #323232;
}
.playas__container .playas07 {
  background-image: url(../asset/images/playas/playa7.jpg);
}
.playas__container .playas07 .title__card,
.playas__container .playas07 .subtitle__card {
  color: #323232;
}
.playas__container .playas08 {
  grid-area: playas08;
  background-image: url(../asset/images/playas/playa8.jpg);
}
.playas__container .playas08 .title__card,
.playas__container .playas08 .subtitle__card {
  color: #323232;
}
.playas__container .playas09 {
  grid-area: playas09;
  background-image: url(../asset/images/playas/playa9.jpg);
}
.playas__container .playas10 {
  grid-area: playas10;
  background-image: url(../asset/images/playas/playa10.jpg);
}

.playas01:hover,
.playas02:hover,
.playas03:hover,
.playas04:hover,
.playas05:hover,
.playas06:hover,
.playas07:hover,
.playas08:hover,
.playas09:hover,
.playas10:hover {
  filter: saturate(200%);
}

.social__media {
  display: flex;
  flex-flow: column wrap;
  position: fixed;
  top: 35%;
  right: 0;
}
.social__media .social__icon {
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 0.5rem;
  transition: 0.5s;
}

.social__icon:hover {
  transform: scale(1.5);
  transition: 0.5s;
}

.marcas {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.marcas img {
  width: 20rem;
  height: 10rem;
  padding: 1rem;
  margin-bottom: 3rem;
}

.footer__container {
  display: grid;
  grid-template-areas: "footer__left footer__center footer__right";
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  height: 18rem;
  background: linear-gradient(90deg, #005b80, #00b8c9);
  color: #fff;
}

.footer__left {
  grid-area: footer__left;
  display: flex;
  flex-flow: column wrap;
  place-items: center;
  text-align: center;
}
.footer__left .logo__empresa img {
  width: 20rem;
  height: 10rem;
}
.footer__left p {
  font-family: "Montserrat", sans-serif;
  margin: 1rem;
}

.footer__center {
  grid-area: footer__center;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}
.footer__center p {
  font-family: "Montserrat", sans-serif;
  margin: 0rem 1rem;
  text-align: center;
}
.footer__center .title__footer {
  margin: 1rem;
}

.footer__right {
  grid-area: footer__right;
  font-family: "Montserrat", sans-serif;
  margin: 0rem 1rem;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}
.footer__right p {
  font-weight: 700;
  margin: 1rem;
  font-size: 16px;
}
.footer__right li {
  list-style: none;
  font-size: 14px;
  margin: 5px;
}
.footer__right strong {
  text-decoration: underline;
}

/*# sourceMappingURL=style.css.map */
