@keyframes descanso {
  0% {
    background-image: url(../asset/images/index/amigos1.jpeg);
    width: 40rem;
    height: 30rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  25% {
    background-image: url(../asset/images/index/amigos2.jpg);
    width: 40rem;
    height: 30rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  50% {
    background-image: url(../asset/images/index/amigos1.jpeg);
    width: 40rem;
    height: 30rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  75% {
    background-image: url(../asset/images/index/amigos3.jpg);
    width: 40rem;
    height: 30rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  100% {
    background-image: url(../asset/images/index/amigos4.jpg);
    width: 40rem;
    height: 30rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}

@keyframes subrayado {
  from {
    background-size: 0% 2px;
  }
  to {
    background-size: 100% 2px;
  }
}
@keyframes titulo {
  from {
    transform: translatex(15%);
  }
  to {
    transform: translate(-25%);
  }
}
