@use "../utilities/variables" as *;

/*//formato de botones
.btn-primary {
  border-radius: 10px;
  border: none;
  background-color: $btn-primary-color;
  font-weight: 600;
  width: 10rem;
  height: 3rem;
  text-align: center;
  align-content: center;
  margin: 0.7rem;
}*/
//sombras
.shadow {
  box-shadow: 5px 0 20px rgba(0, 0, 0, 0.5), -5px 0 20px rgba(0, 0, 0, 0.5);
}
//box index
.box {
  display: flex;
  justify-content: center;
  margin-top: 24rem;
}
//playas
.playas {
  margin: 1.5rem 1rem;
  font-size: 1rem;
  font-family: $variable-font;
  color: $secondary-font;

  a {
    text-decoration: none;
    //background-color: rgb(233, 233, 33);
    background: linear-gradient(
      90deg,
      rgba(87, 199, 133, 1) 0%,
      rgba(237, 221, 83, 1) 100%
    );
    color: $main-text;
  }
}
//textos de playas
.text-playas {
  width: 40rem;
  height: 30rem;
  font-family: $primary-font;
  text-align: justify;
  margin-bottom: 2rem;
}
//imagenes
.imagenes {
  width: 40rem;
  height: 30rem;
  border-radius: 1rem;
  @extend .shadow;
  margin: 4rem 0;
  transition: transform 0.5s ease-in-out;
}
//aventuras
.aventuras {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 40rem;
  height: 30rem;
  border-radius: 1rem;
  font-family: $secondary-font;
  position: relative;

  h3 {
    margin-left: 1rem;
    color: $nav-text;
    position: absolute;
    font-size: 2.5rem;
    left: 1rem;
    bottom: 6rem;
  }
  h4 {
    margin-left: 1rem;
    color: $nav-text;
    font-size: 2rem;
    position: absolute;
    left: 1rem;
    bottom: 3.5rem;
  }
}

//galerias de fotos
.galerias {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}
//nosotros perfiles
.perfiles {
  .img__nosotros {
    border-radius: 1rem;
    width: 20rem;
    float: left;
    margin: 0 1rem;
  }
  .text_nosotros {
    text-align: justify;
    font-family: $primary-font;
    color: $main-text;
  }
}

//footer texto
@mixin footer-text($margin) {
  font-family: $primary-font;
  margin: $margin;
}

//cajas index
@mixin bg-box($bg) {
  width: 15rem;
  height: 15rem;
  border-radius: 3%;
  text-align: center;
  align-content: center;
  background-color: $bg;
  opacity: 0.8;
  font-family: $variable-font;
  font-size: 1.5rem;
  cursor: pointer;
}
//titulos de playas
@mixin aligh($aligh) {
  text-align: $aligh;
  font-family: $primary-font;
  margin-top: 2rem;
  font-size: 1.5rem;
}
