//fuentes
$primary-font: "Montserrat", sans-serif;
$secondary-font: "Oswald", sans-serif;
$optional-font: "Gabriela", serif;
$variable-font: "Arimo", sans-serif;

//bg
$bg-nav-footer: #2ec4b6;

//texto
$nav-text: #f4f4f4;
$main-text: #323232;
$title-text: rgb(242, 82, 33);

//botones
$btn-primary-color: #e39240;
