@use "../utilities/variables" as *;
@use "../utilities/mixin-extend" as *;

.title__playas {
  text-align: center;
  margin-bottom: 2rem;
  font-family: $primary-font;
  font-size: 1.25rem;
  margin-top: 2rem;
  font-weight: 400;
  color: $main-text;
}
.subtitle__playas {
  text-align: center;
  margin-top: 8.5rem;
  font-family: $optional-font;
  font-size: 3rem;
}

.playas__container {
  display: grid;
  grid-template-areas:
    "playas01 playas02"
    "playas03 playas04"
    "playas05 playas06"
    "playas07 playas08"
    "playas09 playas10";
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto;
  margin-top: 1rem;
  transition: transform 0.5s ease-in-out;

  .playas01 {
    grid-area: playas01;
    background-image: url(../asset/images/playas/playa1.jpg);
    @extend .aventuras;
    .title__card,
    .subtitle__card {
      color: $main-text;
    }
  }
  .playas02 {
    grid-area: playas02;
    background-image: url(../asset/images/playas/playa2.jpg);
    @extend .aventuras;
    .title__card,
    .subtitle__card {
      color: $main-text;
    }
  }
  .playas03 {
    grid-area: playas03;
    background-image: url(../asset/images/playas/playa3.jpg);
    @extend .aventuras;
    .title__card,
    .subtitle__card {
      color: $main-text;
    }
  }
  .playas04 {
    grid-area: playas04;
    background-image: url(../asset/images/playas/playa4.png);
    @extend .aventuras;
    .title__card,
    .subtitle__card {
      color: $main-text;
    }
  }
  .playas05 {
    grid-area: playas05;
    background-image: url(../asset/images/playas/playa5.jpg);
    @extend .aventuras;
    .title__card,
    .subtitle__card {
      color: $main-text;
    }
  }
  .playas06 {
    grid-area: playas06;
    background-image: url(../asset/images/playas/playa6.jpg);
    @extend .aventuras;
    .title__card,
    .subtitle__card {
      color: $main-text;
    }
  }
  .playas07 {
    background-image: url(../asset/images/playas/playa7.jpg);
    @extend .aventuras;
    .title__card,
    .subtitle__card {
      color: $main-text;
    }
  }
  .playas08 {
    grid-area: playas08;
    background-image: url(../asset/images/playas/playa8.jpg);
    @extend .aventuras;
    .title__card,
    .subtitle__card {
      color: $main-text;
    }
  }
  .playas09 {
    grid-area: playas09;
    background-image: url(../asset/images/playas/playa9.jpg);
    @extend .aventuras;
  }
  .playas10 {
    grid-area: playas10;
    background-image: url(../asset/images/playas/playa10.jpg);
    @extend .aventuras;
  }
}
.playas01:hover,
.playas02:hover,
.playas03:hover,
.playas04:hover,
.playas05:hover,
.playas06:hover,
.playas07:hover,
.playas08:hover,
.playas09:hover,
.playas10:hover {
  filter: saturate(200%);
}
