@use "../utilities/variables" as *;
@use "../utilities/mixin-extend" as *;

.title__nepal {
  margin: 10rem 0 2rem 0;
  text-align: center;
  font-size: 3rem;
  font-family: $secondary-font;
  color: $main-text;
}
.text__nepal {
  text-align: justify;
  font-size: 1.2rem;
  font-family: $primary-font;
  margin-bottom: 2rem;
}
.galeria {
  display: grid;
  width: 100%;
  grid-template-areas:
    "box__img1 box__img2"
    "box__img3 box__img4"
    "box__img5 box__img4"
    "box__img6 box__img6";
  border-radius: 1rem;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, 0.5fr);
  justify-content: center;
  //  background: linear-gradient(90deg, #00b8c9, #00b1c0);
  padding: 1rem;
  margin-bottom: 3rem;

  .box__img1 {
    grid-area: box__img1;
    .box1 {
      @extend .galerias;
    }
  }
  .box__img2 {
    grid-area: box__img2;
    .box2 {
      @extend .galerias;
    }
  }
  .box__img3 {
    grid-area: box__img3;
    .box3 {
      @extend .galerias;
    }
  }
  .box__img4 {
    grid-area: box__img4;
    .box4 {
      @extend .galerias;
    }
  }
  .box__img5 {
    grid-area: box__img5;
    .box5 {
      @extend .galerias;
    }
  }
  .box__img6 {
    grid-area: box__img6;
    .box6 {
      @extend .galerias;
    }
  }
}
.boxh {
  transition: all, transform 0.5s ease-in-out;
}
.boxh:hover {
  border: 2px solid #00b8c9;
  transform: scale(0.9);
  @extend .shadow;
}
