@use "../utilities/variables" as *;
@use "../utilities/mixin-extend" as *;
@use "../utilities/animaciones" as *;

main {
  background-color: #fff;
}
.portada {
  display: grid;
  grid-template-areas: "portada__img--01 portada__img--02 portada__img--03";
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 10rem;
  justify-items: center;
  place-items: center;

  .portada__img {
    width: 28rem;
    height: 35rem;
  }
  .portada__img--01 {
    grid-area: portada__img--01;
    background-image: url("/asset/images/index/img-left.jpg");
    background-size: cover;
    background-position: left;
    @extend .shadow;
    .box1 {
      @extend .box;
      .card__portada--lugares {
        @include bg-box(rgb(226, 57, 57));
        transition: transform 0.5s ease-in-out;
        .title__box {
          color: $nav-text;
          font-family: $optional-font;
        }
      }
      .card__portada--lugares:hover {
        transform: scale(1.2);
      }
    }
  }
  .portada__img--02 {
    grid-area: portada__img--02;
    background-image: url("/asset/images/index/img-center.jpg");
    background-size: cover;
    background-position: center;
    @extend .shadow;
    .box2 {
      @extend .box;
      .card__portada--aventuras {
        @include bg-box(rgb(85, 85, 219));
        transition: transform 0.5s ease-in-out;
        .title__box {
          color: $nav-text;
          font-family: $optional-font;
        }
      }
      .card__portada--aventuras:hover {
        transform: scale(1.2);
      }
    }
  }
  .portada__img--03 {
    grid-area: portada__img--03;
    background-image: url("/asset/images/index/img-right.jpeg");
    background-size: cover;
    background-position: right;
    @extend .shadow;
    .box3 {
      @extend .box;
      .card__portada--playas {
        @include bg-box(rgb(225, 156, 46));
        transition: transform 0.5s ease-in-out;
        .title__box {
          color: $nav-text;
          font-family: $optional-font;
        }
      }
      .card__portada--playas:hover {
        transform: scale(1.2);
      }
    }
  }
}

.nosotros {
  display: grid;
  grid-template-areas: "card__amigos text__amigos";
  margin-top: 5rem;
  .card__amigos {
    grid-area: card__amigos;
    width: 20rem;
    height: 20rem;
    border-radius: 1rem;
    margin: 4rem 2rem;
    animation: descanso 20s infinite;
  }
}

.text__amigos {
  grid-area: text__amigos;
  margin-top: 3rem;
  padding: 4rem;
  font-family: $primary-font;
  font-size: 1.5rem;
  color: $main-text;
}
