@use "../utilities/variables" as *;
@use "../utilities/mixin-extend" as *;

.nav__bar {
  background: linear-gradient(90deg, #005b80, #00b8c9);
  display: flex;
  height: 7rem;
  position: fixed;
  width: 90rem;
  justify-content: space-around;
  align-items: center;
  justify-self: center;
  z-index: 10;

  .logo__empresa {
    width: 25rem;
    overflow: hidden;
    object-fit: contain;
    img {
      margin-top: 0.3rem;
      width: 70%;
    }
  }
  ul {
    display: flex;
    margin-bottom: 0.2rem;

    li {
      list-style: none;
      a {
        padding: 1rem;
        text-decoration: none;
        font-family: $variable-font;
        color: $nav-text;
        letter-spacing: 0.3rem;
        font-weight: bolder;
        font-size: 1rem;
      }
    }
  }
  .btn__primary--donacion {
    @extend .btn-primary;
    cursor: pointer;
    a {
      text-decoration: none;
      color: $nav-text;
      letter-spacing: 4px;
      font-family: $variable-font;
    }
  }
}
