@use "../utilities/variables" as *;
@use "../utilities/mixin-extend" as *;

.title__nosotros {
  margin-top: 8rem;
  text-align: center;
  font-family: $optional-font;
  font-size: 2rem;
  color: $main-text;
}
.text__presentacion {
  margin: 1rem;
  text-align: center;
  font-family: $variable-font;
  font-size: 1.15rem;
}
.subtittle__nosotros {
  margin: 1rem;
  text-align: center;
  font-family: $secondary-font;
  font-size: 2rem;
  font-weight: 300;
}
.nosotros__container {
  display: grid;
  grid-template-areas:
    "julio leticia"
    "cristian mariel";
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto;
  gap: 2rem;
  margin-bottom: 3rem;
  .julio {
    grid-area: julio;
    @extend .perfiles;
  }
  .leticia {
    grid-area: leticia;
    @extend .perfiles;
  }
  .cristian {
    grid-area: cristian;
    @extend .perfiles;
  }
  .mariel {
    grid-area: mariel;
    @extend .perfiles;
  }
}
.title__marcas {
  font-family: $primary-font;
  margin-bottom: 2rem;
}
