@use "../utilities/variables" as *;
@use "../utilities/mixin-extend" as *;

.title__playas {
  margin-top: 8rem;
  margin-bottom: 2rem;
  text-align: center;
  font-family: $secondary-font;
  font-size: 2rem;
}
.playa--list {
  @extend .playas;
}
.container__playas {
  display: grid;
  grid-template-areas:
    "title__playa--uno playa__img--uno"
    "playa--uno playa__img--uno"
    "playa__img--dos title__playa--dos"
    "playa__img--dos playa--dos"
    "title__playa--tres playa__img--tres"
    "playa--tres playa__img--tres"
    "playa__img--cuatro title__playa--cuatro"
    "playa__img--cuatro playa--cuatro"
    "title__playa--cinco playa__img--cinco"
    "playa--cinco playa__img--cinco"
    "playa__img--seis title__playa--seis"
    "playa__img--seis playa--seis"
    "title__playa--siete playa__img--siete"
    "playa--siete playa__img--siete"
    "playa__img--ocho title__playa--ocho"
    "playa__img--ocho playa--ocho"
    "title__playa--nueve playa__img--nueve"
    "playa--nueve playa__img--nueve"
    "playa__img--diez title__playa--diez"
    "playa__img--diez playa--diez";
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;

  .title__playa--uno {
    grid-area: title__playa--uno;
    @include aligh(center);
  }
  .playa__img--uno {
    grid-area: playa__img--uno;
  }

  .playa--uno {
    grid-area: playa--uno;
    @extend .text-playas;
  }
  .title__playa--dos {
    grid-area: title__playa--dos;
    @include aligh(center);
  }
  .playa__img--dos {
    grid-area: playa__img--dos;
  }
  .playa--dos {
    grid-area: playa--dos;
    @extend .text-playas;
  }
  .title__playa--tres {
    grid-area: title__playa--tres;
    @include aligh(center);
  }
  .playa__img--tres {
    grid-area: playa__img--tres;
  }
  .playa--tres {
    grid-area: playa--tres;
    @extend .text-playas;
  }
  .title__playa--cuatro {
    grid-area: title__playa--cuatro;
    @include aligh(center);
  }
  .playa__img--cuatro {
    grid-area: playa__img--cuatro;
  }
  .playa--cuatro {
    grid-area: playa--cuatro;
    @extend .text-playas;
  }
  .title__playa--cinco {
    grid-area: title__playa--cinco;
    @include aligh(center);
  }
  .playa__img--cinco {
    grid-area: playa__img--cinco;
  }
  .playa--cinco {
    grid-area: playa--cinco;
    @extend .text-playas;
  }
  .title__playa--seis {
    grid-area: title__playa--seis;
    @include aligh(center);
  }
  .playa__img--seis {
    grid-area: playa__img--seis;
  }
  .playa--seis {
    grid-area: playa--seis;
    @extend .text-playas;
  }
  .title__playa--siete {
    grid-area: title__playa--siete;
    @include aligh(center);
  }
  .playa__img--siete {
    grid-area: playa__img--siete;
  }
  .playa--siete {
    grid-area: playa--siete;
    @extend .text-playas;
  }
  .title__playa--ocho {
    grid-area: title__playa--ocho;
    @include aligh(center);
  }
  .playa__img--ocho {
    grid-area: playa__img--ocho;
  }
  .playa--ocho {
    grid-area: playa--ocho;
    @extend .text-playas;
  }
  .title__playa--nueve {
    grid-area: title__playa--nueve;
    @include aligh(center);
  }
  .playa__img--nueve {
    grid-area: playa__img--nueve;
  }
  .playa--nueve {
    grid-area: playa--nueve;
    @extend .text-playas;
  }
  .title__playa--diez {
    grid-area: title__playa--diez;
    @include aligh(center);
  }
  .playa__img--diez {
    grid-area: playa__img--diez;
  }
  .playa--diez {
    grid-area: playa--diez;
    @extend .text-playas;
  }

  .playa__img {
    @extend .imagenes;
  }
  .playa__img:hover {
    transform: scale(1.2);
    filter: saturate(200%);
  }
}
.top-btn {
  position: sticky;
  bottom: 1rem;
  left: 110rem;
}
.top {
  transition: transform 0.5s ease-in-out;
}
.top:hover {
  transform: scale(1.3);
}
