@use "../utilities/variables" as *;
@use "../utilities/mixin-extend" as *;
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.container {
  width: 90rem;
  margin: 0 auto;
}
