@use "../utilities/variables" as *;
@use "../utilities/mixin-extend" as *;
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100dvh;
}
main {
  margin-bottom: auto !important;
}

.container,
.nav__bar,
footer {
  width: 90rem;
  margin: 0 auto;
}
