* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100dvh;
}
main {
  margin-bottom: auto !important;
}

/*header,
footer {
  background-color: red;
}
*/
.container,
.nav__bar,
footer {
  width: 90rem;
  margin: 0 auto;
}
